<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
        h1{
            color: slateblue;
            font-size: 3em;
            font-weight: bold;
            text-align: center;
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    transform: translate(-40%, -500%);
        }
        .img-backgroud{
            height: 100%;
            width: 100%;
        }
	</style>
</head>
<body>
    <img class="img-backgroud" src="https://thietkethicong.org/images/Product/thietke-nhasach-dep%20(2).jpg" alt="name">
    <h1>PHẦN MỀM QUẢN LÍ NHÀ SÁCH</h1>
</body>
</html>
